<div class="card mt-3">
  <div class="card-header">
    <h3><%= render @category%></h3>
  </div>
  <div class="card-body">
    <div class = "list-group">
      <% @category.articles.each do |article| %>
        <button type="button" class="list-group-item list-group-item-action">
            <%= link_to article.title,article %>
        </button>
      <% end %>
    </div>
  
    <div>
      <%= link_to "Edit this category", edit_category_path(@category) , class: "mt-3 btn btn-primary" %> 
      <%= link_to "Back to categories", categories_path , class: "mt-3 btn btn-primary"%>
      <%= button_to "Destroy this category", @category, method: :delete , class: "mt-3 btn btn-danger"%>
    </div>
  </div>
</div>



